:root {
  --primary-50: rgb(254 255 231);
  --primary-100: rgb(252 255 193);
  --primary-200: rgb(254 255 134);
  --primary-300: rgb(255 249 65);
  --primary-400: rgb(255 236 13);
  --primary-500: rgb(255 221 0); // Main shade
  --primary-600: rgb(209 163 0);
  --primary-700: rgb(166 117 2);
  --primary-800: rgb(137 91 10);
  --primary-900: rgb(116 74 15);
  --primary-950: rgb(68 39 4);
  --secondary-50: rgb(239 246 255);
  --secondary-100: rgb(219 233 254);
  --secondary-200: rgb(191 218 254);
  --secondary-300: rgb(146 195 254);
  --secondary-400: rgb(95 163 251);
  --secondary-500: rgb(58 127 247);
  --secondary-600: rgb(36 96 236);
  --secondary-700: rgb(28 75 217);
  --secondary-800: rgb(29 62 176);
  --secondary-900: rgb(30 57 141); // Main shade
  --secondary-950: rgb(23 36 84);
  --primary-50-rgb: 254 255 231;
  --primary-100-rgb: 252 255 193;
  --primary-200-rgb: 254 255 134;
  --primary-300-rgb: 255 249 65;
  --primary-400-rgb: 255 236 13;
  --primary-500-rgb: 255 221 0;
  --primary-600-rgb: 209 163 0;
  --primary-700-rgb: 166 117 2;
  --primary-800-rgb: 137 91 10;
  --primary-900-rgb: 116 74 15;
  --primary-950-rgb: 68 39 4;
  --secondary-50-rgb: 239 246 255;
  --secondary-100-rgb: 219 233 254;
  --secondary-200-rgb: 191 218 254;
  --secondary-300-rgb: 146 195 254;
  --secondary-400-rgb: 95 163 251;
  --secondary-500-rgb: 58 127 247;
  --secondary-600-rgb: 36 96 236;
  --secondary-700-rgb: 28 75 217;
  --secondary-800-rgb: 29 62 176;
  --secondary-900-rgb: 30 57 141;
  --secondary-950-rgb: 23 36 84;
  --text-button: rgb(0 0 0);
  --text-title: rgb(13 21 46);
  --text-body: rgb(53 53 53);
  --text-title-alt: rgb(255 255 255);
  --text-body-alt: rgb(255 252 252);
}
